@media all{

/* subheading style ------------------------------------------------------------------------------------ */
	h2{
		height:17px;
		text-indent:-9999px;
		margin-bottom:20px;
		background-size:contain;
		background-repeat:no-repeat;
		background-position:left center;
	}

/* input style ------------------------------------------------------------------------------------ */
	input{
		line-height:1.5em;
		padding:2px 5px;
		border:solid 1px #dbdbdb;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	input[type = checkbox],
	input[type = radio]{
		display:none;
	}
	
	input[type = checkbox] + label,
	input[type = radio] + label{
		cursor:pointer;
		position:relative;
		padding-left:24px !important;
	}
	
	input[type = checkbox] + label:before,
	input[type = radio] + label:before{
		position:absolute;
		display:inline-block;
		content:"";
		top:50%;
		left:0px;
		width:18px;
		height:18px;
		margin-top:-10px;
		border:solid 1px #dbdbdb;
	}
	
	input[type = checkbox]:checked + label:after,
	input[type = radio]:checked + label:after{
		position:absolute;
		display:inline-block;
		content:"";
		top:45%;
		left:0%;
		width:13px;
		height:5px;
		margin-left:5px;
		border-left:solid 1px #909090;
		border-bottom:solid 1px #909090;
		-webkit-transform:rotate(-45deg) translateY(-50%);
		-moz-transform:rotate(-45deg) translateY(-50%);
		-ms-transform:rotate(-45deg) translateY(-50%);
		transform:rotate(-45deg) translateY(-50%);
	}
	
	textarea{
		width:100%;
		height:15em;
		line-height:1.5em;
		padding:2px 5px;
		border:solid 1px #dbdbdb;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
	}
		
/* select style ------------------------------------------------------------------------------------ */
	.sWrap{
		position:relative;
		display:inline-block;
		padding-right:1.5em;
		border:solid 1px #abadb3;
		border-radius:2px;
		vertical-align:middle;
		overflow:hidden;
	}

	.sWrap:after{
		position:absolute;
		display:inline-block;
		content:"";
		top:50%;
		right:0.175em;
		margin-top:-0.175em;
		border:solid 0.35em transparent;
		border-top-color:#535353;
		z-index:-1;
	}

	.sWrap > select{
		cursor:pointer;
		width:200%;
		border:0px;
		padding-left:0.5em;
		background-color:transparent;
	}

	.sWrap > select option{
		width:100%;
		padding-left:0.5em;
	}
	
/* crumb style ------------------------------------------------------------------------------------ */
	#crumb{
		margin-bottom:38px;
	}
	
	#crumb > *{
		position:relative;
		display:inline-block;
		line-height:1.5em;
		vertical-align:middle;
	}

	#crumb > *:not(:first-of-type){
		padding-left:1em;
	}
	
	#crumb > *:not(:first-of-type):before{
		display:inline-block;
		position:absolute;
		content:"\3E";
		top:50%;
		left:0px;
		-webkit-transform:translateY(-50%) scaleX(0.5);
		-moz-transform:translateY(-50%) scaleX(0.5);
		-ms-transform:translateY(-50%) scaleX(0.5);
		transform:translateY(-50%) scaleX(0.5);
	}
	
	#crumb > * > a{
		display:inline-block;
		text-decoration:underline;
	}
	
/* flow style ------------------------------------------------------------------------------------ */
	#flow{
		clear:both;
		font-size:1.2em;
		width:100%;
		text-align:center;
		margin-top:2em;
	}

	#flow + *:not(.warning){
		margin-top:78px !important;
	}
	
	#flow + p.warning{
		margin-top:22px;
		margin-bottom:66px;
	}

	#flow > *{
		position:relative;
		display:inline-block;
		margin:0px 20px;
		counter-increment:flow;
	}

	#flow > *.active{
		color:#fff;
	}
	
	#flow > *:not(:last-child):after{
		position:absolute;
		content:"\3E";
		color:#b8b8b8;
		font-size:1.2em;
		top:35%;
		right:-28px;
		-webkit-transform:translateY(-50%) scaleY(1.5);
		-moz-transform:translateY(-50%) scaleY(1.5);
		-ms-transform:translateY(-50%) scaleY(1.5);
		transform:translateY(-50%) scaleY(1.5);
	}
	
	#flow > *:before{
		display:block;
		content:counter(flow);
		font-size:1.8em;
		max-width:0.6em;
		padding:0.25em 0.75em;
		margin:0px auto 4px auto;
		border:solid 1px #dbdbdb;
	}

	#flow > *.active:before{
		border-color:#92A8D1;
		background-color:#92A8D1;
	}
		
	#flow > * > span{
		font-size:0.8em;
		display:block;
	}

/* cnt style ------------------------------------------------------------------------------------ */
	.cnt{
		counter-increment:cnt;
		counter-reset:cntOl;
		counter-reset:cntPrnth;
	}
	
	.cnt > *:first-child{
		text-indent:-1em;
		padding-left:1em;
	}
	
	.cnt > *:first-child:before{
		display:inline-block;
		content:counter(cnt);
	}

	.cntOl{
		text-indent:-1em;
		padding-left:1.4em;
		counter-increment:cntOl;
	}

	.cntOl:before{
		display:inline-block;
		content:counter(cntOl)'\002E';
		width:1em;
		text-indent:-0.5em;
	}

	.cntPrnth{
		text-indent:-1em;
		padding-left:1.4em;
		counter-increment:cntPrnth;
	}

	.cntPrnth:before{
		display:inline-block;
		content:'\0028'counter(cntPrnth)'\0029';
		width:1em;
		text-indent:-0.5em;
	}

/* search box style ------------------------------------------------------------------------------------ */
	.search{
		position:relative;
		width:260px;
	}
	
	.search > input{
		width:100%;
		padding-right:24px;
	}
	
	.search > a{
		position:absolute;
		display:inline-block;
		top:0;
		right:0;
		bottom:0;
		width:24px;
		text-indent:9999px;
		background:url(../img/icon/search.png) #535353 center no-repeat;
	}

/* btn style ------------------------------------------------------------------------------------ */
	.btn{
		color:#fff;
		line-height:1.5em;
		padding:6px 0px;
		background-color:#535353;
	}
	
	.submit{
		display:inline-block;
		color:#fff;
		line-height:1.5em;
		padding:10px 12px;
		background-color:#92A8D1;
	}
	
	.back{
		display:inline-block;
		line-height:1.5em;
		padding:10px 12px;
		background-color:#dbdbdb;
	}
	
/* wraning style ------------------------------------------------------------------------------------ */	
	.warning{
		color:#ff1414;
		font-size:1.2em;
		line-height:1.5em;
		padding:6px 10px;
		border:solid 2px #ff1414;
	}

	.att{
		color:#ee5222;
	}

	.red{
		color:#ff1414;
	}
	
/* main view style ------------------------------------------------------------------------------------ */	
	div#main > section{
		width:100%;
	}

	div#main > section:after{
		content:"";
		display:block;
		clear:both;
	}

	div#main > div{
		width:100%;
		margin-bottom:22px;
	}

	div#main > div:after{
		content:"";
		display:block;
		clear:both;
	}
	
	div#main > div > section{
		width:100%;
	}
	
/* form style ------------------------------------------------------------------------------------ */	
	div#main form{
		font-size:1.2em;
		line-height:1.55em;
		text-align:center;
	}
	
	div#main form *.err{
		color:#ff1414 !important;
		border-color:#ff1414 !important;
	}
	
	div#main form > *:not(p):not(a){
		text-align:left;
	}
	
	div#main form span.sWrap{
		border-color:#dbdbdb;
		box-sizing:border-box;
	}
	
	div#main form select option:checked{
		color:#dbdbdb;
	}
	
	div#main form input{
		padding:6px 5px;
	}
	
	div#main form select{
		height:2.3em;
		padding-left:6px;
	}

	div#main form p.bt{
		display:inline-block;
		clear:both;
		width:180px;
		margin:30px 10px 0px 10px;
	}

	div#main form p.bt > a{
		width:100%;
		text-align:center;
		box-sizing:border-box;
	}

	div#main form ul.bt{
		clear:both;
		width:40%;
		text-align:center;
		margin:30px auto 0px auto;
		overflow:hidden;
		zoom:1;
	}
	
	div#main form ul.bt > li{
		float:right;
		width:180px;
		margin:0px 10px;
	}

	div#main form ul.bt > li > a{
		width:100%;
		text-align:center;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-ms-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	div#main form > dl{
		padding:16px 0px;
		overflow:hidden;
		zoom:1;
	}
	
	div#main form > dl > dt{
		position:relative;
		float:left;
		width:200px;
		padding:6px 0px;
	}
	
	div#main form > dl > dd{
		float:left;
		width:770px;
		margin-left:30px;
	}
	
	div#main form dl.float > dd > p{
		float:left;
		width:100%;
		max-width:calc((100% - 40px) / 2);
		margin-top:0px;
	}

	div#main form dl.line > dd > p{
		display:inline-block;
		margin-top:0px;
	}
	
	div#main form > dl > dd > p + p{
		margin-top:12px;
	}
	
	div#main form dl.float > dd > p + p{
		margin-left:40px;
	}

	div#main form dl.line > dd > p + p{
		margin-left:14px;
	}
		
	div#main form dl.address > dd > p:first-of-type > input{
		max-width:132px;
	}
		
	div#main form dl > dd > p > input:not([type = radio]){
		width:100%;
		max-width:800px;
	}
	
	div#main form dl > dd > p > label{
		display:inline-block;
		padding:6px 0px;
		vertical-align:middle;
	}
	
	div#main form dl > dd > p > label a{
		text-decoration:underline;
	}
	
	div#main form dl.address > dd > p > span.sWrap{
		width:108px;
	}

	div#main form dl.line > dd > p > span.sWrap{
		width:80px;
	}

	div#main form dl.line > dd > p:first-of-type > span.sWrap{
		width:102px;
	}
	
	div#main form > dl > dd > small{
		display:block;
	}
	
/* form.indent*/
	div#main form.indent{
		margin:0px 50px;
	}
	
	div#main form > dl > dd{
		width:670px;
	}

/* form.rq*/
	div#main form.rq dl:not(.no) > dt{
		position:relative;
	}
	
	div#main form.rq dl:not(.no) > dt:before{
		position:absolute;
		display:inline-block;
		content:"\5FC5\9808";
		color:#ff1414;
		font-size:0.8em;
		top:50%;
		right:0px;
		padding:0px 6px;
		border:solid 1px #ff1414;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	}

	div#main form.rq dl:not(.no) > dd{
		margin-left:30px;
	}	
/* form.normal*/
	div#main form.normal{
		font-size:1em;
	}
	
/* form.lateral*/
	div#main form.lateral > p:not(.bt){
		text-align:left;
		margin-left:40px;
	}

	div#main form.lateral > section > p:not(.bt){
		text-align:left;
		margin-left:50px;
	}

	div#main form.lateral p.bt{
		margin-top:50px;
	}
	
	div#main form.lateral dl{
		float:left;
		width:calc((100% - 90px) / 2);
		margin-top:20px;
		margin-left:50px;
		text-align:left;
	}
	
	div#main form.lateral dl + dl{
		margin-left:40px;
	}
	
	div#main form.lateral dl > dt{
		width:100%;
	}

	div#main form.lateral > dl > dd{
		width:100%;
		margin-left:0px;
	}

	div#main form.lateral > dl > dd > p + p{
		margin-top:0px;
	}

	div#main form.lateral dl > dd > small{
		display:block;
	}

	div#main form.lateral dl > dd > small > a{
		text-decoration:underline;
	}
	
/* form.read*/
	div#main form.read:not(.lateral) dl > dd{
		padding:6px 0px;
	}

	div#main form.read dl.float > dd > p{
		width:auto;
	}

	div#main form.read dl.float > dd > p + p{
		margin-left:1em;
	}

	div#main form.read dl > dd > p > input{
		pointer-events:none;
		border:transparent;
	}
	
	div#main form.read dl > dd > p > input[type = checkbox]:not(:checked) + label,
	div#main form.read dl > dd > p > input[type = radio]:not(:checked) + label{
		display:none;
	}
	
	div#main form.read dl > dd > p > input[type = checkbox]:checked + label,
	div#main form.read dl > dd > p > input[type = radio]:checked + label{
		pointer-events:none;
		padding-left:0px !important;
	}
	
	div#main form.read dl > dd > p > input[type = checkbox]:checked + label:before,
	div#main form.read dl > dd > p > input[type = radio]:checked + label:before{
		display:none;
	}
	
	div#main form.read dl > dd > p > input[type = checkbox]:checked + label:after,
	div#main form.read dl > dd > p > input[type = radio]:checked + label:after{
		display:none;
	}
	
	div#main form.read dl.address > dd > p > span.sWrap{
		border:transparent;
	}
	
	div#main form.read dl.address > dd > p > span.sWrap:after{
		display:none;
	}
	
	div#main form.read select{
		pointer-events:none;
	}
	
	div#main form.read select{
		pointer-events:none;
	}
	
	body#cart div#main > form.read:not(.lateral) > section > dl > dd select{
		pointer-events:auto;
	}
	
	div#main form.read textarea{
		pointer-events:none;
		height:auto;
		padding:0px;
		border:transparent;
		white-space:pre;
	}
	
/* #complete style ------------------------------------------------------------------------------------ */
	#complete{
		font-size:1.2em;
		margin-bottom:14em !important;
		text-align:center;
	}
	
	#complete > * + *{
		margin-top:18px;
	}
	
	#complete > p > a.back{
		display:inline-block;
		width:180px;
		padding:10px 12px;
		margin-top:38px;
	}
	
	#complete > dl > *{
		display:inline-block;
	}

	#complete > dl > dd{
		color:#ff1414;
	}
	
	#complete > ul{
		text-align:center;
		margin-top:48px;
	}
	
	#complete > ul > li{
		display:inline-block;
		width:180px;
		margin:0px 10px;
	}
	
	#complete > ul > li > a{
		display:block;
		line-height:1.5em;
		padding:10px 12px;
		border:solid 1px #dbdbdb;
	}
	
}
